Comunication/Service References/
ENVIApplication.Web/Log/
ENVIApplication.Web/ClientBin/
**/bin/*
_ReSharper.*
**/obj/*
HTMLApplication.v11.suo
ENVIApplication.Web/ENVIApplication.Web.csproj.user
ENVIApplication.Web/Scripts_Build/
UnitTest.Web/
*StyleCop.Cache*
*csproj.user
*.suo
*DotSettings.user
*pubxml.user
Log
*.vssettings
OpticonReaderInstaller/OpticonReaderInstaller/Express/
Comunication/Comunication.csproj
Comunication/ServiceReferences.ClientConfig
*.orig
Quartz/Quartz.xml
As2ReceiverTesting/Log4net/
UpgradeLog.htm
Nexiss.DAL/app.config
*/packages/*
packages/*
.vs/
ReportingService/publish/
*/publish/*
TestResults/*
.idea/*
